syntax: glob
*.class
*~
*.bak
*.off
*.old
*.java.orig
.DS_Store

# building
/target
.mvn/wrapper/maven-wrapper.jar

# plus eclipse crap
.classpath
.project
.settings

# plus IDEA crap
*.iml
*.ipr
.idea

*~
